body {
  background-color: #0b8457;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}
h1 {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}
.form-container {
  padding: 30px;
  background-color: #cbf078;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
}
form {
  display: flex;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}
.instructions {
  padding: 16px;
  border: 1px solid #0b8457;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: black;
}

.submit-button {
  margin-left: 10px;
  background: #0b8457;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.game {
  font-size: 16px;
  background-color: #cbf078;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #0b8457;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-radius: 10px;
  color: rgb(91, 84, 84);
  font-weight: bold;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  color: white;
  font-weight: bold;
}
a {
  color: white;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
